<div class="col-lg-6 position-absolute" country-list-block>
  <ul class="dropdown-menu d-block w-75 shadow" country-list>
  {{#each this}}
    <li class="dropdown-item overflow-hidden">{{this.name}}</li>
  {{/each}}
  </ul>
</div>