@import "./variables";
//* Import full Bootstrap source code
@import "node_modules/bootstrap/scss/bootstrap";


*,
*::before,
*::after {
  // outline: 1px dotted $indigo;
}
body {
  background-color: $bg-color;
}

#data-out {
  @include row-cols(1);
  @include media-breakpoint-up(lg) {
    @include row-cols(2);
  }
}
.flag {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .flag {
    width: 400px;
  }
}
ul[country-list] {
  top: -16px;
  left: 0;
  li:hover {
    cursor: pointer;
  }
}